<nav class="navbar">
  <a href="<%= root_url %>" class="navlink">
    Process New Data
  </a>
  <a href="<%= new_test_idp_url %>" class="navlink">
    Enter New Identity
  </a>
  <a href="" class="navlink">
    Reconcile Matching Identities
  </a>
</nav>